h1 {
    color:green;
}
img{
    width:250px;
    height:auto;
}

body{
    background-color:cyan;
    margin:0 auto;
    text-align:center;
}
#titleboxIngredients{
    background-color:red;
    margin: 30px;
    border :2px solid white;
}
.listboxMethod{
    background-color: yellowgreen;
    margin: 35px;
    border :1px dotted pink 
}